<div class="events">
<p id="notice"><%= notice %></p>

<h1>Events</h1>

<% @event_groups.each do |group, events| %>
  <div class="event-group">
    <div class="group-title"><%= group %></div>
    <%= render events %>
  </div>
<% end %>
</div>
